@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ador";
  src: url("../../public/Unicode/Li\ Ador\ Noirrit\ Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ador";
  src: url("../../public/Unicode/Li\ Ador\ Noirrit\ Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ador";
  src: url("../../public/Unicode/Li\ Ador\ Noirrit\ Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

.ador {
  font-family: "Ador", sans-serif;
}
